.hint-title{
	background: #007bff;
	color: #fff;
	width: 100%;
	padding: 10px;
}
input.bigheight{
	height: 40px;
	border-radius: 0px;
	font-size: 1.1em;

}
select.bigPadding{
	font-size: 1.1em;
	height: 40px;
	border-radius: 0px;
}
textarea.bigheightBigText{
	border-radius: 0px;
	font-size: 1.1em;
}
.small-icon{
	height: 1.5rem;
	width: 1.5rem;
}
.font-red{
	color: #dc3545;
}
.button{
	border: solid 1px #222;
	padding: 11.2px;
	margin-left: 2px;
	cursor: pointer;
}
.button-disabled{
	border: solid 1px #eee;
	padding: 11.2px;
	margin-left: 2px;
	cursor: pointer;
}
.button-solid{
	background: #222;
	padding: 11.2px;
	margin-left: 2px;
	cursor: pointer;
	text-align:center;
}
.button-solid:hover{
	border: solid 1px #eee;
	background: transparent;
	padding: 11.2px;
	margin-left: 2px;
	cursor: pointer;
}
.button-gifting{
    display: block;
}
.button-remove-gifting{
    display: block;
}
.button-solid-remove-gifting{
	border: solid 1px red;
	padding: 11.2px;
	margin-left: 2px;
	cursor: pointer;
	text-align:center;
	color: #fff;
}
.button-remove{
	border: solid 1px red;
	padding: 11.2px;
	margin-left: 2px;
	cursor: pointer;
	display: block;
	text-align:center;
}
.button-remove:hover{
	color: red;
}
.button:hover{
	cursor: pointer;
	border: solid 1px #6f42c1;
}
.text-purple{
	color: #6f42c1;
}
.text-green{
	color: #007bff;
}
.embossed{
	/*text-shadow: -2px 2px 3px #ff2d95;
	color: #fff;
	*/
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #eee;
	font-size: 4rem;
}
.embossed-small{
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #eee;
	font-size: 2rem;
}
.buyProductForRegistry{
	
}
.priority-stars svg{
	color: #FFD700;
}
